@media only screen and (min-width: 783px) {
  .egm-text {
    width: 50%;
  }
}

.bullet-list {
  list-style: disc inside;
}

.egm-shortcode-output {
  background-color: #FFF;
  padding: 10px;
  border: 1px solid #DDD;
  display: inline-block;
}

